* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 240px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: white;
  box-shadow: 0 1px 2px hsl(0deg 0% 0% / 5%), 0 1px 4px hsl(0deg 0% 0% / 5%), 0 2px 8px hsl(0deg 0% 0% / 5%);
}

#container, #preview {
  width: 100%;
  max-width: 100% !important;
}

main {padding: 20px; max-width: 100% !important;}

button {
  width: 100%;
  margin: 0 15px;
  border-radius: 4px;
  border: 0 !important;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 24px;
  padding: 7px 4px;
  color: #fff;
  background-color: #1a73e8;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  transition: background-color .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  text-decoration: none;
  pointer-events: initial;
  text-transform: uppercase;
  cursor: pointer !important;
  -webkit-font-smoothing: antialiased
}

button:hover,
button:hover svg path {
  background-color: #1a73e811;
  color: #000000;
  stroke: #000000;
}

svg {
  margin-right: 15px;
}

strong,
p {
  margin-bottom: 0;
  font-size: 14px;
}

img {
  width: 100%;
  border: 1px solid #d8d8d8;
}

.alert {
  background-color: #fff;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 7px;
  box-shadow: 0 1px 2px hsl(0deg 0% 0% / 5%), 0 1px 4px hsl(0deg 0% 0% / 5%), 0 2px 8px hsl(0deg 0% 0% / 5%);
}

/******************************************/

.w-100 {
  width: 100% !important;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.disp-none {
  display: none !important;
}

.bg-yellow {background-color: #ff9800;}
.bg-green {background-color: #32b027;}
.bg-viola {background-color: #9c27b0;}
.bg-gray {background-color: #505050;}