* {box-sizing: border-box !important;}

.tui-image-editor-container,
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  max-width: auto !important;
  max-height: auto !important
}

.tui-image-editor-container .tui-image-editor-main {top: 0 !important;}

.tui-image-editor {
  margin-bottom: 50px !important;
  cursor: zoom-in;
}

.tui-image-editor-size-wrap {
  margin-bottom: 50px !important
}

.tui-image-editor-canvas-container,
.tui-image-editor-container {
  max-width: initial !important;
  max-height: initial !important
}

.tui-image-editor-header {display: none !important;}

.lower-canvas,
canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: initial !important
}

.tui-image-editor-header-buttons {display:flex !important;}

.tui-image-editor-header-buttons>div,
button, .button, .btn,
.tui-image-editor-header-buttons>button {
  border-radius: 4px !important;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 12px;
  letter-spacing: .6px;
  padding: .475rem .75rem;
    line-height: 1.5;
    border: 0 !important;

  color: #fff;
  background-color:#393939 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

  transition: background-color .25s;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  text-transform: uppercase;
  outline: none !important;
  cursor: pointer;
}

.tui-image-editor-header-buttons div:hover,
.tui-image-editor-header-buttons button:hover,
button:hover, button:hover svg path {
 background-color:#313131 !important; color: #ffffff !important; stroke: #ffffff; }

svg {margin-right: 5px;}

.tui-colorpicker-palette-button {
  width: 20px !important;
  height: 20px !important;
}
/***************************/
.nav {
  height: 100%;
  width: 250px;
  background:#2d2d2d;
  position: fixed;
  bottom: 0;
  left: 0;  
  text-align: left;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateX(-100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  z-index: 999;
}

.nav .sidebar-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;  
  overflow: auto;
}

.nav label {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__toggle {
  width: 40px !important;
  position: absolute;
  top: 4.5em;
  right: -40px;
  background-color: #ffffff !important;
  color: #000000 !important;
  transform: translateX(0);
  padding: 1em .5em;
  border: 0;
  cursor: pointer;
  z-index: 999;
}
.nav__toggle svg {margin: 0 !important;}
.sidebar-content {color: #fff;}
.sidebar-content header {background:#393939; border-top: 3px solid #f48024; padding: 10px; box-shadow: 0 1px 0 rgb(12 13 14 / 35%);}

.sidebar-content input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 !important;
}

.sidebar-content label {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.sidebar-content button {    
  width: 100%;
}

.nav-open {
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  .nav {
    width: 90%;
  }
}
/**************************/
.btn-file-size {
  position: fixed;
  right: 10%;
  bottom: 17px;
  z-index: 999;
  cursor: pointer;
}
/**************************/
hr {
  margin: 10px 0;
  border: 1px solid #4d4d4d;
}

.w-100 {
  width: 100% !important
}

.h-100 {
  height: 100% !important
}

.mb-10 {margin-bottom: 10px!important;}

.p-0 {padding: 0 !important;}

.p-10 {padding: 10px;}

.d-flex {display:flex; align-items: center;}

.d-flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-green {background-color: #4caf50 !important;}
.bg-red {background-color: #ad0000 !important;}
.bg-blue {
  background-color: #3F51B5!important;
}